// -*- mode: dts -*-

#define ZMK_COMBO_SIMPLE(name, keycode, pos1, pos2) \
    combo_##name { \
        timeout-ms = <CHORD_TIMEOUT>; \
        key-positions = <pos1 pos2>; \
        bindings = <&kp keycode>; \
        require-prior-idle-ms = <PRE_CHORD_PAUSE>; \
    };


#define ZMK_COMBO_ADVANCED(name, keycode, pos1, pos2, layers, timeout, idle) \
    combo_##name { \
        timeout-ms = <timeout>; \
        key-positions = <pos1 pos2>; \
        bindings = <&kp keycode>; \
        layers = <layers>; \
        require-prior-idle-ms = <idle>; \
    };

#define ZMK_COMBO_PLUS(name, behavior, pos1, pos2) \
    combo_##name { \
        timeout-ms = <CHORD_TIMEOUT>; \
        key-positions = <pos1 pos2>; \
        bindings = <behavior>; \
        require-prior-idle-ms = <PRE_CHORD_PAUSE>; \
    };





/* top row */
ZMK_COMBO_SIMPLE(tilde, TILDE, 0, 1)
ZMK_COMBO_SIMPLE(curlybracket_open, LEFT_BRACE, 1, 2)
ZMK_COMBO_SIMPLE(square_open, LEFT_BRACKET, 2, 3)
ZMK_COMBO_SIMPLE(paren_open, LEFT_PARENTHESIS, 3, 4)
ZMK_COMBO_SIMPLE(less_than, LESS_THAN, 4, 5)

ZMK_COMBO_SIMPLE(greater_than, GREATER_THAN, 7, 8)
ZMK_COMBO_SIMPLE(paren_close, RIGHT_PARENTHESIS, 8, 9)
ZMK_COMBO_SIMPLE(square_close, RIGHT_BRACKET, 9, 10)
ZMK_COMBO_SIMPLE(curlybracket_close, RIGHT_BRACE, 10, 11)
ZMK_COMBO_SIMPLE(underscore, UNDERSCORE, 11, 12)

/* middle row */
// available: 13, 14
ZMK_COMBO_PLUS(smart_num_l, &smart_num_lock_dance, 14, 15)
ZMK_COMBO_PLUS(control_l, &sk LCTRL, 15, 16)
ZMK_COMBO_PLUS(caps_word_l, &caps_word_lock_dance, 16, 17)

ZMK_COMBO_PLUS(caps_word_r, &caps_word_lock_dance, 23, 24)
ZMK_COMBO_PLUS(control_r, &sk RCTRL, 24, 25)
ZMK_COMBO_PLUS(smart_num_r, &smart_num_lock_dance, 25, 26)
// available: 26, 27



/* bottom row */
ZMK_COMBO_SIMPLE(backslash, BSLH, 28, 29)
ZMK_COMBO_SIMPLE(slash, FSLH, 40, 41)

ZMK_COMBO_SIMPLE(comma, COMMA, 29, 30)
ZMK_COMBO_SIMPLE(dot, DOT, 39, 40)

ZMK_COMBO_PLUS(base, &to BASE, 44, 45) /* inner thumb keys */
ZMK_COMBO_PLUS(navigation, &to NAVIGATION, 43, 46) /* middle thumb keys */
ZMK_COMBO_SIMPLE(printscreen, PRINTSCREEN, 42, 47) /* outer thumb keys; screenshot */


/* vertical shapes */

ZMK_COMBO_PLUS(leader, &leader, 13, 28)  /* middle and bottom leftmost keys */

// bootloader with far left column
combo_bootloader_left {
	timeout-ms = <CHORD_TIMEOUT>;
        key-positions = <0 13 28>;
        bindings = <&bootloader>;
	require-prior-idle-ms = <LONG_PAUSE>;
};
// bootloader with far right column
combo_bootloader_right {
        timeout-ms = <CHORD_TIMEOUT>;
        key-positions = <12 27 41>;
        bindings = <&bootloader>;
	require-prior-idle-ms = <LONG_PAUSE>;
};
