#define INNER_CLUSTER JS0 LEC JS1 JS2 JS3 JS4

#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH, INNER_CLUSTER)    \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
                 LT RT                                                         \
                 LM RM                                                         \
                 LB RB                                                         \
                 LH RH                                                         \
	                JS0							       \
        LEC     JS1 JS2 JS3						       \
		            JS4							       \
    )

#include "zmk-helpers/key-labels/eyelash42.h"
#include "jjb.keymap"

/{ chosen { zmk,physical-layout = &default_layout; }; };

