// note: leader key sequences can currently have a maximum of five letters

// the limit of sequences per leader key is CONFIG_ZMK_LEADER_MAX_SEQUENCES. defining more will result in runtime crashes.
// the limit must be defined in the .conf file for whatever you're building.



#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

#define ZMK_LEADER_UNICODE_DUAL_4_4(name, sequence, u0, u1, u2, u3, u4, u5, u6, u7) \
    UC_MACRO(name ## _uc1, &kp u0 &kp u1 &kp u2 &kp u3) \
    UC_MACRO(name ## _uc2, &kp u4 &kp u5 &kp u6 &kp u7) \
    ZMK_MACRO(name ## _uc, bindings = <&name ## _uc1 &name ## _uc2>;) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)

#define ZMK_LEADER_UNICODE_DUAL_5(name, sequence, u0, u1, u2, u3, u4, u5, u6, u7, u8, u9) \
    UC_MACRO(name ## _uc1, &kp u0 &kp u1 &kp u2 &kp u3 &kp u4) \
    UC_MACRO(name ## _uc2, &kp u5 &kp u6 &kp u7 &kp u8 &kp u9) \
    ZMK_MACRO(name ## _uc, bindings = <&name ## _uc1 &name ## _uc2>;) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)

#define ZMK_LEADER_UNICODE_4(name, sequence, u0, u1, u2, u3) \
    UC_MACRO(name ## _uc, &kp u0 &kp u1 &kp u2 &kp u3) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)

#define ZMK_LEADER_UNICODE_5(name, sequence, u0, u1, u2, u3, u4) \
    UC_MACRO(name ## _uc, &kp u0 &kp u1 &kp u2 &kp u3 &kp u4) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)

// this apparently does not work?
#define ZMK_LEADER_UNICODE_8(name, sequence, u0, u1, u2, u3, u4, u5, u6, u7) \
    UC_MACRO(name ## _uc, &kp u0 &kp u1 &kp u2 &kp u3 &kp u4 &kp u5 &kp u6 &kp u7) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)

#define ZMK_LEADER_UNICODE_MULTI_3(name, sequence, name1, name2, name3) \
    UC_MACRO(name ## _uc, &name1 ## _uc &name2 ## _uc &name3 ## _uc) \
    ZMK_LEADER_SEQUENCE(name, &name ## _uc, sequence)



// for standardized address entry web forms
ZMK_LEADER_SEQUENCE(home_address_web, &home_address_web, H O M E)
ZMK_LEADER_SEQUENCE(phone, &phone, P H O N E)
ZMK_LEADER_SEQUENCE(phone_alt, &phone_alt, T E L)



ZMK_LEADER_SEQUENCE(azrael, &azrael, A Z)  // azraël
ZMK_LEADER_SEQUENCE(anais, &anais, A N)  // anaïs

ZMK_LEADER_SEQUENCE(gr_phi, &el_phi, P H I)  // ϕ


//ZMK_UNICODE_SINGLE(red_heart, N2, N7, N6, N4)
//ZMK_LEADER_SEQUENCE(red_heart, &red_heart,     H E A R T)

ZMK_LEADER_SEQUENCE(gaming,      &to GAMING,     G A M E)

ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)

// debugging use
ZMK_LEADER_SEQUENCE(caps_word,  &caps_word,     C W)

// -----------------------------------------------------------------------------


/*
ZMK_LEADER_UNICODE_4(heart, W H E A R, N2, N7, N6, N4)
*/

ZMK_LEADER_UNICODE_5(smile, S M I L E, N1, F, N6, N0, A)
ZMK_LEADER_UNICODE_5(thumb, T H U M B, N1, F, N4, N4, D)

ZMK_LEADER_UNICODE_5(amour, A M O U R, N1, F, N6, N0, D)  // 😍
ZMK_LEADER_UNICODE_5(brain, B R A I N, N1, F, N9, E, N0) // 🧠
ZMK_LEADER_UNICODE_5(cry, C R Y, N1, F, N6, N2, N2) // 😢
ZMK_LEADER_UNICODE_5(kiss, K I S S, N1, F, N6, N1, N8) // 😘
ZMK_LEADER_UNICODE_5(pour, P O U R, N1, F, A, D, N7) // 🫗
ZMK_LEADER_UNICODE_5(eye, E Y E, N1, F, N4, N4, N1) // 👁
ZMK_LEADER_UNICODE_5(ewe, E W E, N1, F, N4, N1, N1) // 🐑

ZMK_LEADER_UNICODE_5(rictus, R I C T U, N1, F, N6, N2, C) // 😬
ZMK_LEADER_UNICODE_5(halo, H A L O, N1, F, N6, N0, N7) // 😇
ZMK_LEADER_UNICODE_5(fingers, F I N, N1, F, N9, N1, E) // 🤞
ZMK_LEADER_UNICODE_5(roll, R O L L, N1, F, N6, N4, N4) // 🙄
ZMK_LEADER_UNICODE_5(tldr, T L D R, N1, F, N4, D, C) // 📜
ZMK_LEADER_UNICODE_5(wave, W A V E, N1, F, N4, N4, B) // 👋



// Single emojis (5-byte sequences)
ZMK_LEADER_UNICODE_5(koala, K O A L A, N1, F, N4, N2, N8) // 🐨
ZMK_LEADER_UNICODE_5(kanga, K A N G A, N1, F, N9, N9, N8) // 🦘
ZMK_LEADER_UNICODE_5(east, E A S T, N1, F, N5, F, F) // 🗿
ZMK_LEADER_UNICODE_5(cro, C R O, N1, F, N9, N5, N0) // 🥐
ZMK_LEADER_UNICODE_5(snak, S N A K, N1, F, N4, N0, D) // 🐍
ZMK_LEADER_UNICODE_5(vin, V I N, N1, F, N3, N7, N7) // 🍷
ZMK_LEADER_UNICODE_5(piz, P I Z, N1, F, N3, N5, N5) // 🍕
ZMK_LEADER_UNICODE_5(steak, S T E A K, N1, F, N9, N6, N9) // 🥩

ZMK_LEADER_UNICODE_5(kiwi, K I W I, N1, F, N9, N5, D) // 🥝
ZMK_LEADER_UNICODE_5(crepe, C R E P E, N1, F, N9, N5, E) // 🥞
ZMK_LEADER_UNICODE_5(lapin, L A P I N, N1, F, N4, N0, N7) // 🐇
ZMK_LEADER_UNICODE_5(chick, C H I C K, N1, F, N4, N2, N5) // 🐥
ZMK_LEADER_UNICODE_5(duck, D U C K, N1, F, N9, N8, N6) // 🦆
ZMK_LEADER_UNICODE_5(drums, D R U M S, N1, F, N3, N5, N7) // 🍗

ZMK_LEADER_UNICODE_5(fete, F E T E, N1, F, N3, N8, N9) // 🎉
ZMK_LEADER_UNICODE_5(shaka, S H A K A, N1, F, N9, N1, N9) // 🤙




ZMK_LEADER_UNICODE_DUAL_4_4(red_heart, H E A R T, N2, N7, N6, N4, F, E, N0, F)




ZMK_LEADER_UNICODE_MULTI_3(love, L O V E, eye, red_heart, ewe)


// Flag emojis (dual 4-byte sequences)
ZMK_LEADER_UNICODE_DUAL_4_4(fr, F R,    N1, F, N1, E, N6, N1, F, N7) // 🇫🇷
ZMK_LEADER_UNICODE_DUAL_4_4(aus, A U S, N1, F, N1, E, N6, N1, F, N1) // 🇦🇺
ZMK_LEADER_UNICODE_DUAL_5(usa, U S A, N1, F, N1, F, A, N1, F, N1, F, N8) // 🇺🇸
