// for use OUTSIDE the global brackets
#define ZMK_SIMPLE_MACRO(name, ...) \
/ { \
  macros { \
    name: name { \
        compatible = "zmk,behavior-macro"; \
        wait-ms = <10>; \
        tap-ms = <10>; \
        #binding-cells = <0>; \
        bindings = __VA_ARGS__; \
    }; \
  }; \
};


ZMK_SIMPLE_MACRO(cancel, <&none>, <&to HIEROPHANT>)
ZMK_SIMPLE_MACRO(caps_toggle, <&kp CAPS>, <&tog CAPS_LAYER>)

ZMK_SIMPLE_MACRO(at_wgyl_org, <&kp AT>, <&kp W>, <&kp G>, <&kp Y>, <&kp L>, <&kp DOT>, <&kp O>, <&kp R>, <&kp G>, <&kp TAB>)

ZMK_SIMPLE_MACRO(rgb_tog_num, <&macro_tap &rgb_ug RGB_ON>, <&macro_tap &rgb_ug RGB_COLOR_HSB(43,100,100)>)



