// to define modifier keys which produce other behaviors with single and double taps

ht_mod_kp: ht_mod_kp {
    compatible = "zmk,behavior-hold-tap";
    label = "HT_MOD_KP";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
};
